<!DOCTYPE html>
<html>
    <head>
        <title>Admin Home</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('admin.static', filename='css/admin.css') }} ">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poiret+One">
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.12.0.min.js') }}" ></script>
    </head>
    <body>
        <div class="welcome">
            Admin panel
        </div>
    </body>
</html>