body{
    background: #fff;
}

.welcome {
    position: absolute;
    width: auto;
    height: auto;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -150px;
    text-align: center;
    font-family: 'Poiret One', serif;
    font-size: 60px;
}

.welcome ul li{
    font-size: 35px;
}