<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
        <link rel="stylesheet" href="{{ url_for('auth.static', filename='css/login.css') }}">
    </head>
    <body>
        <h1>Login page gai</h1>
    </body>
</html>