<!DOCTYPE html>
<html>
    <head>
        <title>Home page</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poiret+One">
    </head>

    <body>

        <div class="welcome">
            Flask app
            <ul>
                <li>Use of blueprints</li>
                <li>Modules</li>
                <li>Stuff</li>
            </ul>
        </div>
    </body>

    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.12.0.min.js') }}" ></script>
</html>